body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    background-color:rgb(107, 201, 232);
}


.nav> h1{
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items:center;
    justify-content: space space-around;

}
ul{
    display: flex;
    list-style: none ;
    gap: 3rem;
    color: white;
}
.nav btn{
    width: 3rem;
    height: 5vh;
    color: white;
    border: 1px solid white;
     border-radius: 7px;
     background-color: transparent;
     cursor: pointer;
    
}
    .nav h1{
        color: white;
    }
     .landing{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
     }
     .child-1 {
        width: 300px;
     }
     .child-1 h1{
        color: white;
        font size: 3rem;
     }
     .child-1p{
        color:white
     }
     .pricing-btn{
        width: 10 rem;
        height: 5vh;
         border-radius:7px ;
         border-radius: 17;
         border: 1px solid white
         background-color: green
     }

 form{
    width: 350px;
    padding: 25px;
    margin: 5p;
    box-shadow: 1px 2px 3px black;

 }
 input{
    display: block;
    width: 100%;
    height: 2.4rem;
    margin: 5px;
    background-color: rgb(73, 168, 168);
 }
 select {
    display: block;
    width: 100%;
    height: 2.4rem;
    
 }
 select:focus{
    outline: none;

 }

 .register-btn{
    width: 100%;
    height: 2.4rem;
    border-radius: 17px;
    border: none;
    margin: top: 10px;
    background-color: blue;
    color: white

 }



 
    






 
